* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.background {
    /* background: url(mindesae_2.jpg) no-repeat center center/cover; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Glassmorphism container */
.login-container {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 30px;
    width: 350px;
    text-align: center;
}

.login-container h2 {
    /* color: */
    font-size: 1.8rem;
    margin-bottom: 20px;
}


.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    /* color: rgba(205, 157, 157, 0.8); */
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(174, 125, 125, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: rgba(205, 157, 157, 0.8);
    outline: none;
    font-size: 0.9rem;
}

.input-group input::placeholder {
    color: rgba(205, 157, 157, 0.8);
}


.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 15px;
    /* color: rgba(205, 157, 157, 0.8); */
}

.options a {
    /* color: rgba(205, 157, 157, 0.8); */
    text-decoration: none;
    transition: color 0.3s ease;
}

.options a:hover {
    color: #00c9ff;
}


button {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    /* color: rgba(205, 157, 157, 0.8); */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease, transform 0.2s ease;
    width: 100%;
}

button:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb);
    transform: scale(1.05);
}


.login-container p {
    margin-top: 20px;
    font-size: 0.9rem;
    /* color: rgba(205, 157, 157, 0.8); */
}

.login-container p a {
    color: #00c9ff;
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}